In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [38]:
df=pd.read_excel('S04AC223.xlsx')
df.head()

,AC_No,ACNameEn,PollingBoothNo,SectionNo,votersl,houseno,VIDNo,VoterNameEng,Votername,Sex,relationNameEng,relationname,relation,Age,SectionName,SectionNameEng,PollingStationAddressEn,PollingStationAddress
0,223,Aurangabad,1,1,1,1,NCY2630614,saurav kumar,सौरव कुमार,Male,ashok prasad,अशोक प्रसाद,Father,22,जम्होर,Jamhor,Uchcha Vighalay Jamhor,उच्च विघालय जम्होर
1,223,Aurangabad,1,1,2,2,NCY2464733,Sanjeev kumar Pandey,संजीव कुमार पाण्डेय,Male,Suresh Pandey,सुरेश पाण्डेय,Father,27,जम्होर,Jamhor,Uchcha Vighalay Jamhor,उच्च विघालय जम्होर
2,223,Aurangabad,1,1,3,2,NCY2467843,Durgawati Devi,दुर्गावती` देवी,Female,Dudhnath paswan,दुधनाथ पासवान,Husband,57,जम्होर,Jamhor,Uchcha Vighalay Jamhor,उच्च विघालय जम्होर
3,223,Aurangabad,1,1,4,2,NCY2467850,Dudhnath Paswan,दुधनाथ पासवान,Male,chhedi Paswan,छेदी पासवान,Father,68,जम्होर,Jamhor,Uchcha Vighalay Jamhor,उच्च विघालय जम्होर
4,223,Aurangabad,1,1,5,3,NCY0415406,Sanjit kumar,संजीत कुमार,Male,Ramanand Paswan,रामानन्द पासवान,Father,24,जम्होर,Jamhor,Uchcha Vighalay Jamhor,उच्च विघालय जम्होर

In [39]:
df.shape

(93384, 18)

In [40]:
df.PollingBoothNo.max()

100

In [41]:
df.isnull().sum()

AC_No                          0
ACNameEn                   11677
PollingBoothNo                 0
SectionNo                      0
votersl                        0
houseno                        0
VIDNo                          0
VoterNameEng                   0
Votername                      0
Sex                            0
relationNameEng                0
relationname                   0
relation                       0
Age                            0
SectionName                11677
SectionNameEng             11677
PollingStationAddressEn    11677
PollingStationAddress      11677
dtype: int64

In [42]:
df.columns

Index(['AC_No', 'ACNameEn', 'PollingBoothNo', 'SectionNo', 'votersl',
       'houseno', 'VIDNo', 'VoterNameEng', 'Votername', 'Sex',
       'relationNameEng', 'relationname', 'relation', 'Age', 'SectionName',
       'SectionNameEng', 'PollingStationAddressEn', 'PollingStationAddress'],
      dtype='object')

# 1.Which PollingBoothNo has the maximum number of under 30 female population?

In [43]:
df.groupby('PollingBoothNo').VIDNo.count()

PollingBoothNo
1      1237
2       886
3      1257
4       999
5       864
       ...
96     1280
97     1040
98      992
99      972
100     615
Name: VIDNo, Length: 100, dtype: int64

In [44]:
df[(df['Age']<30) & (df['Sex']=='Female')].groupby('PollingBoothNo').VIDNo.count()

PollingBoothNo
1      159
2       93
3      111
4       72
5       42
      ...
96     133
97      60
98     169
99     101
100    104
Name: VIDNo, Length: 100, dtype: int64

In [45]:
df.loc[(df.Sex=='Female') & (df.Age<30)].groupby('PollingBoothNo').PollingBoothNo.count().max()

204

In [46]:
df[(df['Age']<30) & (df['Sex']=='Female')].groupby('PollingBoothNo').VIDNo.count().sort_values()

PollingBoothNo
45     29
5      42
71     47
10     50
80     52
     ...
98    169
68    170
54    173
48    188
53    204
Name: VIDNo, Length: 100, dtype: int64

So,we can see here that PollingBoothNo 53 has the maximum number of under 30 Female voters.

# Q.2 Share a list of Head of family (HoF) for each household. HoF are individuals with maximum age in each family. 
A household is defined as members with same houseno grouped under PollingBoothNo, SectionNo.

In [47]:
df.groupby([df.PollingBoothNo,df.SectionNo,df.houseno]).apply(lambda df:df[df.Age==df.Age.max()])

                                        AC_No    ACNameEn  PollingBoothNo  \
PollingBoothNo SectionNo houseno
1              1         04      1003     223  Aurangabad               1
                         1       0        223  Aurangabad               1
                         10      76       223  Aurangabad               1
                         11      84       223  Aurangabad               1
                         12      103      223  Aurangabad               1
...                                       ...         ...             ...
100            3         6       92906    223  Aurangabad             100
                         7       92930    223  Aurangabad             100
                         8       92934    223  Aurangabad             100
                         9       92976    223  Aurangabad             100
                                 92977    223  Aurangabad             100

                                        SectionNo  votersl houseno  \
PollingBoothNo SectionNo houseno
1              1         04      1003           1     1199      04
                         1       0              1        1       1
                         10      76             1       77      10
                         11      84             1       85      11
                         12      103            1      104      12
...                                           ...      ...     ...
100            3         6       92906          3      114       6
                         7       92930          3      138       7
                         8       92934          3      142       8
                         9       92976          3      184       9
                                 92977          3      185       9

                                             VIDNo            VoterNameEng  \
PollingBoothNo SectionNo houseno
1              1         04      1003   NCY2723419             SAVITA DEVI
                         1       0      NCY2630614            saurav kumar
                         10      76     NCY0417469               Mina Devi
                         11      84     NCY1598366  Nand Keshwar Chaudhari
                         12      103    NCY0685719          Naurangi Singh
...                                            ...                     ...
100            3         6       92906  FPX2422855           Krishna Singh
                         7       92930  NCY2412849                Raja Ram
                         8       92934  FPX5378765       Tejanarayan Singh
                         9       92976  NCY2412757               Mina Devi
                                 92977  NCY2412765               Mira Devi

                                                Votername     Sex  \
PollingBoothNo SectionNo houseno
1              1         04      1003          सविता देवी  Female
                         1       0             सौरव कुमार    Male
                         10      76             मीना देवी  Female
                         11      84     नंद केश्वार चौधरी    Male
                         12      103          नौरंगी सिंह    Male
...                                                   ...     ...
100            3         6       92906         कृष्ण सिंह    Male
                         7       92930           राजा राम    Male
                         8       92934     तेजनारायण सिंह    Male
                         9       92976          मीना देवी  Female
                                 92977          मीरा देवी  Female

                                          relationNameEng   relationname  \
PollingBoothNo SectionNo houseno
1              1         04      1003       SHRAVAN KUMAR    श्रवण कुमार
                         1       0           ashok prasad    अशोक प्रसाद
                         10      76      Sundar Chaudhari    सुंदर चौधरी
                         11      84     Saharaj Chaudhari    सहराज चौधरी
                         12      103         Dashai Singh       दशई सिंह
...                                                   ...            ...
100            3         6       92906    Jagadayal Singh    जगदयाल सिंह
                         7       92930       Bijali Mochi     बिजली मोची
                         8       92934  Shiv Nandan Singh  शिव नंदन सिंह
                         9       92976    Niranjan Prasad  निरंजन प्रसाद
                                 92977          Binod lal      विनोद लाल

                                       relation  Age SectionName  \
PollingBoothNo SectionNo houseno
1              1         04      1003   Husband   28      जम्होर
                         1       0       Father   22      जम्होर
                         10      76     Husband   69      जम्होर
                         11      84      Father   74      जम्होर
                         12      103     Father   84      जम्होर
...                                         ...  ...         ...
100            3         6       92906   Father   68  ढोढ़ीबिगहा
                         7       92930   Father   77  ढोढ़ीबिगहा
                         8       92934   Father   73  ढोढ़ीबिगहा
                         9       92976  Husband   64  ढोढ़ीबिगहा
                                 92977  Husband   64  ढोढ़ीबिगहा

                                       SectionNameEng  \
PollingBoothNo SectionNo houseno
1              1         04      1003          Jamhor
                         1       0             Jamhor
                         10      76            Jamhor
                         11      84            Jamhor
                         12      103           Jamhor
...                                               ...
100            3         6       92906   DhodhiBigaha
                         7       92930   DhodhiBigaha
                         8       92934   DhodhiBigaha
                         9       92976   DhodhiBigaha
                                 92977   DhodhiBigaha

                                                   PollingStationAddressEn  \
PollingBoothNo SectionNo houseno
1              1         04      1003               Uchcha Vighalay Jamhor
                         1       0                  Uchcha Vighalay Jamhor
                         10      76                 Uchcha Vighalay Jamhor
                         11      84                 Uchcha Vighalay Jamhor
                         12      103                Uchcha Vighalay Jamhor
...                                                                    ...
100            3         6       92906  Utkramit Madhya Vidyalay Bajitapur
                         7       92930  Utkramit Madhya Vidyalay Bajitapur
                         8       92934  Utkramit Madhya Vidyalay Bajitapur
                         9       92976  Utkramit Madhya Vidyalay Bajitapur
                                 92977  Utkramit Madhya Vidyalay Bajitapur

                                                  PollingStationAddress
PollingBoothNo SectionNo houseno
1              1         04      1003               उच्च विघालय  जम्होर
                         1       0                  उच्च विघालय  जम्होर
                         10      76                 उच्च विघालय  जम्होर
                         11      84                 उच्च विघालय  जम्होर
                         12      103                उच्च विघालय  जम्होर
...                                                                 ...
100            3         6       92906  उत्क्रमित मध्य विद्यालय बजितपुर
                         7       92930  उत्क्रमित मध्य विद्यालय बजितपुर
                         8       92934  उत्क्रमित मध्य विद्यालय बजितपुर
                         9       92976  उत्क्रमित मध्य विद्यालय बजितपुर
                                 92977  उत्क्रमित मध्य विद्यालय बजितपुर

[13714 rows x 18 columns]

# Q.3 Split the VoterNameEng into FirstNameEng, MiddleNameEng and LastNameEng.

In [48]:
df[['FirstNameEng','MidNameEng','LastNameEng']]=df.VoterNameEng.str.split(' ',2,expand=True)

In [49]:
df[['VoterNameEng','FirstNameEng','MidNameEng','LastNameEng']]

               VoterNameEng FirstNameEng MidNameEng LastNameEng
0              saurav kumar       saurav      kumar        None
1      Sanjeev kumar Pandey      Sanjeev      kumar      Pandey
2            Durgawati Devi    Durgawati       Devi        None
3           Dudhnath Paswan     Dudhnath     Paswan        None
4              Sanjit kumar       Sanjit      kumar        None
...                     ...          ...        ...         ...
93379           Munni Singh        Munni      Singh        None
93380     Sunil Kumar Singh        Sunil      Kumar       Singh
93381          Pradip Kumar       Pradip      Kumar        None
93382   Santosh Kumar Singh      Santosh      Kumar       Singh
93383           Sunita Devi       Sunita       Devi        None

[93384 rows x 4 columns]

# Q.4 What is the RelativeName of VoterNameEng ‘Gajala Praveen’ living in PollingBoothNo 19?

In [50]:
df.loc[(df.VoterNameEng=='Gajala Praveen') & (df.PollingBoothNo==19)].relationname

17187    सरताज अहमद
Name: relationname, dtype: object

# Q.5 Prepare frequency distribution of the FirstName of VoterNameEng. What inference can you draw from this distribution?

In [51]:
df['FirstNameEng'].value_counts()

Ram         1476
Mohammad    1377
Sunita       552
Sanjay       534
Shanti       520
            ...
Rubee          1
bholi          1
VAHIDA         1
Sibha          1
Rebun          1
Name: FirstNameEng, Length: 14703, dtype: int64

# Q.6 Share the percentage distribution of each surname (last name) of VoterNameEng.

In [52]:
lastname_count=df['LastNameEng'].value_counts()
lastname_count

Singh        3551
Devi         1170
Yadav         958
Ram           635
              448
             ...
SHANDILYA       1
najeer          1
SAHRMA          1
shadab          1
PRAWEEN         1
Name: LastNameEng, Length: 1022, dtype: int64

In [53]:
lastname_percent=df['LastNameEng'].value_counts(normalize=True)*100
lastname_percent

Singh        25.012327
Devi          8.241178
Yadav         6.747904
Ram           4.472776
              3.155596
               ...
SHANDILYA     0.007044
najeer        0.007044
SAHRMA        0.007044
shadab        0.007044
PRAWEEN       0.007044
Name: LastNameEng, Length: 1022, dtype: float64

# Q.7 There are manual data entry errors in surnames like Sharma is spelled incorrectly as Sarma, Yadav is spelled as Yadv.
What approach should we use to correct these spelling errors? Is there any R package that can help us for the same?

In [54]:
# Q.7: 'spellchecker' is the required library for spelling check and correction in python.

df.VoterNameEng=df.VoterNameEng.str.strip().str.replace('Sarma','Sharma')
df.VoterNameEng=df.VoterNameEng.str.strip().str.replace('Yadv','Yadav')
df.LastNameEng=df.LastNameEng.str.strip().str.replace('Sarma','Sharma')
df.LastNameEng=df.LastNameEng.str.strip().str.replace('Yadv','Yadav')
df.MidNameEng=df.MidNameEng.str.strip().str.replace('Sarma','Sharma')
df.MidNameEng=df.MidNameEng.str.strip().str.replace('Yadv','Yadav')

In [56]:
df[df['LastNameEng']=='Sarma']

Empty DataFrame
Columns: [AC_No, ACNameEn, PollingBoothNo, SectionNo, votersl, houseno, VIDNo, VoterNameEng, Votername, Sex, relationNameEng, relationname, relation, Age, SectionName, SectionNameEng, PollingStationAddressEn, PollingStationAddress, FirstNameEng, MidNameEng, LastNameEng]
Index: []

[0 rows x 21 columns]

In [58]:
df[df['LastNameEng']=='Yadv']

Empty DataFrame
Columns: [AC_No, ACNameEn, PollingBoothNo, SectionNo, votersl, houseno, VIDNo, VoterNameEng, Votername, Sex, relationNameEng, relationname, relation, Age, SectionName, SectionNameEng, PollingStationAddressEn, PollingStationAddress, FirstNameEng, MidNameEng, LastNameEng]
Index: []

[0 rows x 21 columns]

# Q.8 How many families are there in the dataset? Group_by on PollingBoothNo, SectionNo, houseno

In [59]:
df.groupby(['PollingBoothNo','SectionNo','houseno']).VIDNo.count()

PollingBoothNo  SectionNo  houseno
1               1          04          2
                           1           1
                           10         12
                           11         15
                           12          9
                                      ..
100             3          5           5
                           6          13
                           7          15
                           8          40
                           9           5
Name: VIDNo, Length: 13136, dtype: int64

So, there are total 13136 families.

# Q.9 As per dataset, what is the average family size in the households?

In [60]:
total_family=13136
total_voter=df.VIDNo.count()

In [61]:
avg_family_size=total_voter/total_family
avg_family_size

7.1090133982947625

So, we can say that average family size is approx 7 .

# Q.10 Which area has the highest population? An area is the same as SectionNameEng?

In [62]:
df.SectionNameEng.value_counts().sort_values()

Tola Rangal Bigaha       1
Devariya Rustam          1
Tole Bhuiya  Vigha       1
Devariya Kala            1
Bhuiya Bigaha            1
                      ...
Badawan               1664
Kushi                 1868
Fesar                 2093
Jhikatiya             2185
Jamhor                5241
Name: SectionNameEng, Length: 117, dtype: int64

So, Jamhor has the highest population.